body{
background-color: #009836;}

div{
	display: inline-table;}

.header{
height: 20%;
width: 100%;
font-family: 'Roboto', sans-serif;}

.login{
width: 50%;
float: left;
position: relative;
text-align: center;
font-size: 25px;
padding-top:100px;}

.description{
width: 50%;
position: relative;
text-align: center;
font-size: 50px;
padding-top:100px;}

.logo{
width: 50%;
float: left;
font-size: 75px;
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;}

@keyframes example {
    0%   {color: green;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: red;}
}

.avatar{
width: 50%;
float: right;
text-align: right;
font-size: 50px;}

.lists{
width: 20%;
float: left;
font-size: 50px;
padding-right: 10px;
height: 80%;
text-align: center;}

.todoList{
width: 1300px;
font-size:40px;
background-image: url("images/notepad.png");
height: 854px;
padding-left: 120px;
padding-top: 31px;
line-height: 58px;}

.done{
    text-decoration: line-through;
	padding-top: 15px;}
	
.container{
	font-family: 'Indie Flower', cursive;
	width: 100%;
	height: 80%;}
	
.task-input{
	padding-top: 12px;}
	
.lists li{
	background-color: yellow;
	border-style: solid;
	list-style-type: none;}
	
.lists li:hover {
    color: #FF00FF;}

.todoList li:hover {
    color: #FF00FF;}
	
.todoList li::after {
    content: url(http://www.w3schools.com/css/smiley.gif);
}

.due {
	color: RED;}

.fa{
	float: right;}